
li.dropdown input[type=submit],
.dropbtn {
  display: inline-block;
  color: rgb(90, 69, 69);
  text-align: center;
  width: 100%;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown input:hover, .li.dropdown:hover .dropbtn {
  background-color: transparent;
  color:#745852;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcefea;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content input[type=submit] {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content input[type=submit]:hover {background-color: #fcfbfb;}

.dropdown:hover .dropdown-content {
  display: block;
}



.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
}

.container-custom {
    padding-top: 3.5rem;
    background-color: #fffefe;
}

.container-nav {
    width: 100%;
}

.library {
    max-width: 950px;
}

.container h1 {
    font-weight: bold;
}


body {
    background-color:    #fcefea; 
    padding-top: 3.5rem;
}

textarea {
    width:50%;
    padding: 12px 20px;
    margin: 12px;
    box-sizing: content-box;
    resize: none;
}

.row {
    text-align: center;
}

.col-avg {
    padding-top:20px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    width: 100%;
    background-color: transparent;
    overflow: visible;
}

li.nav {
    float: left;
}

li.nav a {
    display: inline-block;
    color: rgb(90, 59, 59);
    text-align: left;
    padding-left: 10px;
    padding-top: 7.5px;
    padding-right: 10px;
    text-decoration: none;
}

.nav input[type=submit] {
    background-color: transparent;
    border: none;
    color: rgb(90, 59, 59);
    padding-left: 10px;
    padding-top: 7.5px;
    padding-right: 10px;
    text-decoration: none;
    cursor: pointer;
  }

.nav input[type=submit]:hover {
    color:#c35057;
} 

.d-block {
    font-size: 15px;
}

.col-left {
    padding-inline: 5% 25%;
}

.frontpage {
    background-color: #fa5f30b7;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.navbar-custom {
    background-color: #29221d;
}

.navbar-custom .navbar-brand {
    font-family: "Formular";
    color:  #ff9800;
    font-weight: bold;
    text-align: center;
}

.navbar-custom .nav-link {
    color: #faefea;
}

.review-main {
    font-size: 20px;
}

.review-header {
    background-color: #d35400;
}

.btn-search {
    background-color: #413c3b;
    color: rgb(177, 142, 142);
}

.btn-admin,
.btn-admin:link,
.btn-admin:hover,
.btn-admin:visited {
    color:rgb(226, 39, 39);
    font-weight: bold;
}

.btn-search:hover,
.btn-frontpage:hover {
    background-color: #6e5d59;
    color: rgb(228, 200, 200);
}

.btn-fav,
.btn-fav:link,
.btn-send:hover {
    background-color: #ebcc79;
    color: rgb(58, 41, 41);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-send,
.btn-send:link {
    background-color: #beaa71;
    color: rgb(58, 41, 41);
    text-align: center;
    text-decoration: none;
}

.btn-frontpage:link,
.btn-frontpage {
    background-color: #413c3b;
    color: rgb(177, 142, 142);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-custom:hover {
    background-color: #c35057;
    
}

.badge-custom {
    background-color: #6e5d59;
    color: rgb(228, 200, 200);
}

.badge-tag {
    background-color: #fa5f30b7;
    color: rgb(39, 29, 29);
    padding: 8px 10px;
}

.list-group .list-group-item,
.list-group-link {
    background-color: #f8f6f3;
    text-align: center;
}

a:link {
    color: #7a7a70;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(177, 142, 142);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #c35057;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #78492b;
    background-color: transparent;
    text-decoration: underline;
  }

.bottom-github {
    text-align: center;
}