{% extends "layout.html" %} 
{% block content %}

<div class="container">
    {% if session.is_admin %}
    <div class="row-1">
        <div class="col">
            <form action="/game/{{ id }}/edit" method="POST">
                <label for="submit">
                <p>Edit the name or year of the game:
                </label>
                <p>name:</p>
                <input type="text" name="name">
                <p>year:</p>
                <input type="text" name="year">
                <button class="btn btn-send" type="submit">Edit</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <p>
                <br>
                <p class="text-center" >"{{ info[0] }}, {{ info[2] }}"</p>
        </div>
    </div>
    {% else %} 
    <p>You must have admin rights to access this page.</p>
    <a href="/">Return</a>
    {% endif %}
</div>
{% endblock %}