{% extends "layout.html" %} 
{% block content %}

<div class="container">
    {% if session.is_admin %}
    <div class="row">
        <div class="col">
            <form action="/game/{{ id }}/delete" method="POST">
                <label for="submit">
                Delete the game from the library:
                </label>
                <button class="btn btn-send" type="submit">Delete</button>
                <input type="hidden" name="visible" value="f">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        <div class="col">
            <form action="/game/{{ id }}/delete_review" method="POST">
                <label for="submit">
                    <h3>Remove a review</h3>
                </label>
                <p>Select a review to remove:<br>
                {% for review in content %} 
                <input type="checkbox" name="review" value="{{ review[3] }}" multiple="multiple"> {{ review.grade}}/10: "{{ review.comment }}"<br>
                <input type="hidden" name="user_id" value="{{ review[4] }}">
                {% endfor %} 
                <p>
                <input class="btn btn-send" type="submit" value="Remove">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
    {% else %} 
    <p>You must have admin rights to access this page.</p>
    <a href="/">Return</a>
    {% endif %}
</div>
{% endblock %}