{% extends "layout.html" %}
{% block adminbar %} 
<li class="nav-item">
    <a class="nav-link btn-admin" href="/game/{{ id }}/edit">Edit</a>
<li class="nav-item">
    <a class="nav-link btn-admin" href="/game/{{ id }}/delete">Delete</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-left">{{ name }} ({{ year }})</h1>
            {% if session.user_id %}
            <ul class="nav">
                <li class="nav">
                    {% if not favorite %}
                    <form action="/game/{{ id }}" method="POST">
                        <input class="btn btn-fav" type="submit" value="Add to favorites">
                        <input type="hidden" name="fav" value="1">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                    {% else %}
                    <form action="/game/{{ id }}" method="POST">
                        <input class="nav" type="submit" value="Remove from favorites">
                        <input type="hidden" name="fav" value="0">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                    {% endif %}
                <li class="nav">
                    <form action="/{{ id }}/add_tag">
                        <input class="nav" type="submit" value="Add tags">
                    </form>
                <li class="nav dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Add to list</a>
                    <div class="dropdown-content">
                        <form action="/game/{{ id }}" method="POST">
                            <input class="nav" type="submit" value="To Play">
                            <input type="hidden" name="list" value="0">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                        <form action="/game/{{ id }}" method="POST">
                            <input class="nav" type="submit" value="Played Game">
                            <input type="hidden" name="list" value="1">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    </div>
                </li>
            </ul>
            {% endif %}
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            {% if reviews %} 
            <h2>Reviews</h2> 
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                {% for entry in reviews %}
                    <div class="media text-muted pt-3">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="review-main">
                                    <a href="/user/{{ entry[0] }}">{{ entry[0] }}:</a>
                                </strong>
                                <p>{{ entry[2] }}/10</p>
                            </div>
                            <span class="d-block">"{{ entry[1] }}"</span>
                        </div>
                    </div>
                {% endfor %}     
            </div> 
        </div>
        <p>
        <div class="col-4 col-avg">
            <h4>Score: {{ avg }} / 10</h4>
            {% endif %}
            <br>
            {% if tags %}
            <b>Tags:</b>
            {% endif %}
            <p>
            {% for tag in tags %} 
                {{ tag[0] }}  
                <span class="badge badge-tag badge-pill">{{ tag[1] }}</span>
            {% endfor %}
        </div>
    </div>
    <p>
    <hr>
    <div class="row">
        <div class="col">
            {% if session.user_id %} 
            <h3>{{ message }}</h3>
            <form action="/review" method="POST">
                Rating:
                <select class="rev-select" name="grade">
                    <option value="1">1
                    <option value="2">2
                    <option value="3">3
                    <option value="4">4
                    <option value="5">5
                    <option value="6">6
                    <option value="7">7
                    <option value="8">8
                    <option value="9">9
                    <option value="10">10
                </select>
                <p>
                Comment:<br>
                <textarea name="comment" rows="4" cols="30" maxlength="1000"></textarea>
                <p><input class="btn btn-send" type="submit" value="Send">
                <input type="hidden" name="game_id" value="{{ id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            
        
            {% endif %}
        </div>
    </div>
</div>
<p>
{% endblock %}