{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 col-left">
            <h3>Game library:</h3>
            <br>
            {% for game in games %} 
            <a href="/game/{{ game.id }}">{{ game.name }}</a>
            <hr class="container-library">
            {% endfor %}
        </div>
        <div class="col-4 col-right">
            {% if session.user_id %}
                Add a game to the library:
                <form action="/add">
                    <input class="btn btn-frontpage btn-m" type="submit" value="Add">
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}