{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <p>
            Welcome! With this app you can keep track of your favorite games as well as the interesting new
            games you've wished to play for ages!
            </p>
            <br>
            <a href="/gamelibrary"><h3>Game library</h3></a>
            <p>
            <h3>10 Top rated games:</h3>
            <u1>
                {% for game in best %} 
                <li><a href="/game/{{ game.id }}">{{ game.name }}</a>: {{ game.avg }}
                {% endfor %}
            </u1>
        </div>
        <div class="col-4">
            <p>Newest reviews:</p>
            {% for review in reviews %} 
                <li><a href="/game/{{ review[3] }}">{{ review[1] }}: {{ review[2] }}/10, "{{ review[4] }}"</a></li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}