<h1><a href="/">Video Game List - Frontpage</a></h1>

{% if session.user_id %} 
Olet kirjautunut sisään tunnuksella <b>{{ session.user_name }}</b>. <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a> tai
<a href="/register">luo uusi tunnus.</a>
{% endif %}
<p>

<h3>Etsi peliä</h3>
<form action="/result" method="GET">
    Hakusana: <input type="text" name="query">
    <br>
    <input type="submit" value="Lähetä">
</form>

<h3>Pelikirjasto:</h3>
<u1>
    {% for game in games %} 
    <li><a href="/game/{{ game.id }}">{{ game.name }}</a>
    {% endfor %}
</u1>