{% extends "layout.html" %} 
{% block content %}
<div class="frontpage">
    <div class="f-container">
      <h1 class="display-3">List your games!</h1>
      <p>Welcome! With this app you can keep track of your favorite games as well as the interesting new
        games you've wished to play for ages.</p>
        <br>
      <p><a class="btn btn-frontpage btn-lg" href="/gamelibrary" role="button">View all games &raquo;</a></p>
    </div>
</div>

<div class="f-container">
    <div class="row">
        <div class="col-8 col-left">
            <h3>10 Top rated games:</h3>
            <br>
            <u1 class="list-group">
                {% for game in best %} 
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/game/{{ game.id }}">{{ game.name }}</a>
                    <span class="badge badge-custom badge-pill">{{ game.avg }}</span>
                </li>
                {% endfor %}
            </u1>
        </div>
        <div class="col-4 col-right">
            <h3>Newest reviews:</h3>
            <br>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                {% for review in reviews %}
                    <div class="media text-muted pt-3">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="review-main">
                                    <a href="/game/{{ review[3] }}">{{ review[1] }}</a>
                                </strong>
                                <p>{{ review[2] }}/10</p>
                            </div>
                            <span class="d-block">{{ review[0] }}: "{{ review[4] }}"</span>
                        </div>
                    </div>
                {% endfor %}     
            </div> 
        </div>
    </div>
</div>
{% endblock %}