<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Video Game List</title>
<div class="container">
    <div class="bg-warning">
        <nav class="navbar navbar-expand-sm navbar-light">
            <a class="navbar-brand" href="/">Video Game List</a>
            <ul class="navbar-nav">
                {% if session.user_id %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{ session.user_name }}">{{ session.user_name }}</a>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log in</a>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-auto" action="/result" method="GET">
                <input class="form-control" type="text" name="query" placeholder="search..." aria-label="search">
                <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">search</button>
            </form>
        </nav>
    </div>
</div>
<p>
{% block content %}{% endblock %} 
<hr>
