{% extends "layout.html" %} 
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Log in</h2>
            <form action="/login" method="post">
                <br><input type="text" name="username" placeholder="username">
                <p>
                <br><input type="password" name="password" placeholder="password">
                <p>
                <input type="submit" value="Log in">
            </form>
            <br>
            Create a new username <a href="/register">here.</a>
        </div>
    </div>
</div>
{% endblock %}