{% extend "layout.html" %}
{% block content %}
<h3>Remove a review</h3>
<form action="/remove" method="POST">
    <p>Select a review to remove:<br>

    {% for review in content %} 
    <input type="checkbox" name="review" value="{{ review.id }}" multiple="multiple"> {{ review[3] }}: {{ review.grade}}/10, "{{ review.comment }}" <br>
    {% endfor %} 

    <p>

    <input type="submit" value="Remove">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}