{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <a href="/user/{{ name }}"><h2>{{ name }}</h2></a>
            total playtime: {{ playtime }} hours

            {% if reviews %} 
            <h3>Reviews</h3>
            {% endif %} 

            <u1>
                {% for entry in reviews %}
                <li> <a href="/game/{{ entry[4] }}">{{ entry[3] }}</a> {{ entry[2] }}/10: "{{ entry[1] }}" 
                {% endfor %}
            </u1>
            <p>

            {% if session.user_id == id %}
            <a href="/remove" class="button">Delete reviews</a>
            {% endif %}
        </div>
        <div class="col-4">
            {% if lists %} 
            <h3>Lists</h3>
            {% endif %}

            <u1>
                <b>Favorite games:</b>
                {% for entry in lists %}
                {% if entry[5] == 1 %}
                <li> <a href="/game/{{ entry[0] }}">{{ entry[1] }}</a>  
                {% endif %}
                {% endfor %}
            </u1>
            <p>
            <br>
            <u1>
                <b>To Play:</b>
                {% for entry in lists %}
                {% if entry[2] == 0 %}
                <li> <a href="/game/{{ entry[0] }}">{{ entry[1] }}</a>
                {% endif %}
                {% endfor %}
            </u1>
            <p>
            <br>
            <u1>
                <b>Played games:</b>
                {% for entry in lists %}
                {% if entry[2] == 1 %}
                <li> <a href="/game/{{ entry[0] }}">{{ entry[1] }}</a>
                <li>Playtime: {{ entry[3] }} hours
                <li>Platform: {{ entry[4] }}
                <p>    
                {% endif %}
                {% endfor %}
            </u1>
        </div>
    </div>
</div>
{% endblock %}