{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/user/{{ name }}"><h2>{{ name }}</h2></a>
            <p>total playtime: {{ playtime }} hours
            <hr>
            <b>Favorite games:</b>
            <u1 class="list-group">
                {% for entry in lists %} 
                {% if entry[5] == 1 %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/game/{{ entry[0] }}">{{ entry[1] }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </u1>
        </div>
        <div class="col">
            {% if reviews %} 
            <h3>Reviews</h3>
            {% endif %} 
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                {% for entry in reviews %}
                    {% if loop.index <= 5 %}
                    <div class="media text-muted pt-3">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="review-main">
                                    <a href="/game/{{ entry[4] }}">{{ entry[3] }}:</a>
                                </strong>
                                <p>{{ entry[2] }}/10</p>
                            </div>
                            <span class="d-block">"{{ entry[1] }}"</span>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}     
                {% if reviews|count > 5 %}
                <small class="d-block text-right mt-3">
                    <a href="/user/{{ name }}/reviews">All reviews</a>
                </small>  
                {% endif %}
            </div> 
            {% if session.user_id == id %}
            <a href="/remove" class="button">Delete reviews</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            {% if lists %} 
                <h3>Lists</h3>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
            <br>
            <b>To Play:</b>
            <u1 class="list-group">
                {% for entry in lists %} 
                {% if entry[2] == 0 %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/game/{{ entry[0] }}">{{ entry[1] }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </u1>
        </div>
        <div class="col">
            <br>
            <b>Played Games:</b>
            <u1 class="list-group">
                {% for entry in lists %} 
                {% if entry[2] == 1 %}
                <li class="list-group-item d-flex justify-content-between">
                    <a href="/game/{{ entry[0] }}">{{ entry[1] }}</a>
                    <p>Playtime: {{ entry[3] }} hours
                    <p>Platform: {{ entry[4] }}
                </li>
                <p>    
                {% endif %}
                {% endfor %}
            </u1>
        </div>
    </div>
</div>
{% endblock %}